@import "normalize-3.0.1.less";
@import "elements-0.9.less";
@import "font-awesome-4.1.0.less";

//------------------------------------------------------------------------------
// Fonts
//------------------------------------------------------------------------------

@font-face {
  font-family: 'Open Sans Light';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'),
    url('../fonts/OpenSans-Light.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'),
    url('../fonts/OpenSans.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'),
    url('../fonts/OpenSans-Semibold.woff') format('woff');
}

@font-face {
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu Mono'), local('UbuntuMono-Regular'), url('../fonts/UbuntuMono-Regular.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

.font-light(@size) {
  font-family: 'Open Sans Light';
  font-size: @size;
  font-weight: 300;
}

.font-normal(@size) {
  font-family: 'Open Sans';
  font-size: @size;
  font-weight: 400;
}

.font-bold(@size) {
  font-family: 'Open Sans';
  font-size: @size;
  font-weight: 600;
}

.font-mono(@size) {
  font-family: 'Ubuntu Mono';
  font-size: @size;
  font-weight: 400;
}

//------------------------------------------------------------------------------
// Variables
//------------------------------------------------------------------------------

@activeBlue: #0075ea;
@borderGrey: #e1e1e1;
@errorRed: red;
@inactiveGrey: #666;
@warningOrange: #c47f00;

//------------------------------------------------------------------------------
// Tags
//------------------------------------------------------------------------------

body {
  .box-sizing();
  color: #444;
  font-family: "Open Sans";
}

// http://stackoverflow.com/a/3397158/2137320
*:focus {
  outline: 0;
}

//------------------------------------------------------------------------------
// Snowflake Classes
//------------------------------------------------------------------------------

.clr-737fa {
  clear: both;
}

.app-ca3cd {
  margin: 20px;
  max-width: 1200px;
  min-width: 800px;
}

.title-8749a {
  .font-light(32px);
  float: left;
}

.settings-link-c1709 {
  border: 1px solid @borderGrey;
  cursor: pointer;
  float: right;
  padding: 10px 20px;
  .rounded(4px);
}

.title-links-42b06 {
  float: right;
}

.link-3d3ad {
  color: @inactiveGrey;
  cursor: pointer;
  display: inline-block;
  .font-normal(18px);
  margin: 15px 0 0 30px;

  .fa {
    margin-right: 5px;
  }
}

.link-3d3ad:hover {
  color: @activeBlue;
  text-decoration: underline;
}

.header-a4c14 {
  border-bottom: 1px solid @borderGrey;
  margin-bottom: 25px;
  padding-bottom: 20px;
}

.btn-da85d {
  background: #e6e6e6;
  border: 0;
  color: #000;
  cursor: pointer;
  display: inline-block;
  .font-normal(14px);
  margin-left: 10px;
  padding: 8px 12px;
  .rounded(4px);
}

.count-cfa27 {
  color: #555;
  display: inline-block;
  .font-light(12px);
  margin-left: 5px;
}

.disabled-btn-1884b {
  background: #e6e6e6;
  border: 0;
  color: #555;
  cursor: auto;
  display: inline-block;
  .font-normal(14px);
  margin-right: 10px;
  padding: 8px 12px;
  .rounded(4px);
}

.project-1b83a {
  margin-bottom: 50px;
}

.project-name-ba9e7 {
  float: left;
  .font-bold(28px);
}

.wrapper-714e4 {
  margin-bottom: 20px;
}

.project-btns-f5656 {
  float: right;
}

.error-56f38 {
  background: #ffffcc;
  margin-bottom: 2px;
  padding: 10px;
}

.success-5c065 {
  color: green;
}

.with-warnings-4b105 {
  color: @warningOrange;
}

.errors-2718a {
  color: @errorRed;
}

.missing-f02af {

}

.status-b8614 {
  color: @inactiveGrey;
  display: inline-block;
  .font-light(18px);
  margin-left: 8px;
}

.edit-c0ba4 {
  color: @inactiveGrey;
  cursor: pointer;
  display: inline-block;
  .font-light(18px);
  margin-left: 8px;
}

.edit-c0ba4:hover {
  color: @activeBlue;
  text-decoration: underline;
}

.tbl-bdf39 {
  border: 1px solid @borderGrey;
  width: 100%;

  .fa {
    margin-right: 5px;
  }
}

.header-row-50e32 {
  background: #f2f6ff;
  border-bottom: 1px solid @borderGrey;
}

.th-92ca4 {
  color: #8e8e8e;
  .font-bold(11px);
  padding: 12px;
  text-align: left;
  text-transform: uppercase;

  .fa {
    color: #444;
    font-size: 14px;
    width: 14px;
  }
}

.small-check-7b3d7 {
  font-size: 12px !important;
}

.build-row-fdd97 {

}

.odd-c27e6 {
  background-color: #fafafa;
}

.even-158a9 {
  background-color: #fff;
}

// NOTE: if you apply opacity to the tr directly you'll get a border bug
.not-active-a8d35 {
  td {
    opacity: 0.50;
  }
}

.warning-row-097c8 {
  background-color: rgba(255, 255, 100, 0.5);
}

.warning-cell-b9f12 {
  color: #000;
  .font-normal(14px);
  padding: 12px;
}

.error-row-b3028 {
  background-color: #e44545;
}

.error-cell-1ccea {
  color: #fff;
  .font-normal(14px);
  padding: 12px;
}

.cell-9ad24 {
  .font-normal(14px);
  padding: 12px;
}

.time-fc085 {
  font-family: Verdana;
  font-size: 12px;
}

.menu-b4b27 {
  background: #fff;
  border: 1px solid #e1e1e1;
  .font-normal(14px);
  padding: 10px;
  position: absolute;
  right: 90px;
  z-index: 10;
}

.auto-option-8a122 {
  border-bottom: 1px solid #ccc;
  padding: 10px 0;

  .fa {
    // margin-right: 5px;
    width: 20px;
  }
}

.label-ec878 {
  cursor: pointer;
}

.bld-e7c4d {
  cursor: pointer;
  padding: 5px 0;

  .fa {
    width: 20px;
  }
}