pom.xml
*jar
/lib/
/classes/
/out/
/target/
.lein-deps-sum
.lein-repl-history
.lein-plugins/

.DS_Store
*.swp

/app/config.json
/app/css/main.min.css
/app/js/main.min.js
/app/js/main.js

/node_modules

*.diff

/atom-shell
