pom.xml
*jar
/lib/
/classes/
/out/
/target/
.lein-deps-sum
.lein-repl-history
.lein-plugins/

.DS_Store
*.swp

/cljsbuild-ui/css/main.min.css
/cljsbuild-ui/js/main.min.js
/cljsbuild-ui/js/main.js

/public/css/main.min.css
/public/js/main.js
/public/js/main.min.js

/node_modules

*.diff