pom.xml
*jar
/lib/
/classes/
/out/
/target/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.nrepl-port

.DS_Store
*.swp

/app/config.json
/app/css/main.min.css
/app/js/main.min.js
/app/js/main.js
/app/*.log

/builds

/node_modules

*.diff

/electron

/scripts/add-lein-profile
